:root {
  /* Color*/
  --color-Blue: #00a4db;
  --color-White: #fff;
  --color-black: #3f454d;
  --color-gray: #555555;
  /* Size */
  --size-Small: 12px;
  --size-Normal: 18px;
  --size-Large: 24px;
  --size-ExtraLarge: 32px;
}

/* Normalize */
body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: var(--color-black);
}
