:root {
  /* Color*/
  --color-blue: #00a4db;
  --color-white: #fff;
  --color-black: #3f454d;
  --color-gray: #555555;
  /* Size */
  --size-small: 14px;
  --size-normal: 18px;
  --size-large: 28px;
  --size-extraLarge: 36px;
}

/* Normalize */
body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: var(--color-black);
}
.nav_bar > .nav_box > ul li > a {
  font-size: var(--size-normal);
}
.nav_bar > .nav_box > ul li > a,
.i {
  color: white;
}
.nav_bar > .nav_box > .nav_list > .nav_item:hover > a,
.nav_bar
  > .nav_box
  > .nav_list
  > .nav_item
  > .nav_sub_list
  > .nav_sub_item:hover
  > a {
  color: var(--color-blue);
}
a {
  font-weight: bold;
  letter-spacing: 1px;
}
