.bg1 {
  background-image: url("imgs/section1.png");
}
.bg2 {
  background-image: url("imgs/section2.png");
}
.bg3 {
  background-image: url("imgs/section3.png");
}
.bg4 {
  background-image: url("imgs/section4.png");
}
.footer_bg {
  width: 100%;
  background: url("imgs/footer_bg.png") no-repeat center/cover;
  height: 100%;
}

.main_text_box {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 140px 0 140px;
  margin-bottom: 150px;
  transition: 0.3s;
}
.main_text_box > .text_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main_text_box > .text_box > .intro_text {
  font-size: 94px;
  font-weight: bold;
  color: white;
}
.main_text_box > .text_box > .last_text {
  color: #ffffffcc;
  font-size: 20px;
}
.main_text_box > .text_box > .intro_text:first-child {
  color: white;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

.footer_intro_item > a > .news {
  display: inline-block;
  color: #00a4db;
  border: 1px solid #00a4db;
  padding: 10px;
}
.footer_intro {
  color: white;
  font-size: 36px;
}
.notice {
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}
.foot_icon {
  color: black;
  padding: 10px;
  background-color: #00a4db;
  border-radius: 50px;
}

.footer_intro_list {
  width: 80%;
  display: flex;
}
.footer_box {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 140px;
  align-items: flex-start;
}
.footer_intro_item {
  display: flex;
  border: 1px solid var(--color-gray);
  margin-right: 20px;
  justify-content: flex-start;
}
.footer_intro_item > a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 34px 120px 48px;
}

.footer_intro_item > a > div {
  display: block;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 215px;
}
.footer_intro_item > a > .notice:not(:last-child) {
  margin-bottom: 20px;
}
.news {
  font-size: 10px;
}

.footer_intro_item > a > div:nth-child(2) {
  font-size: 20px;
  height: 68px;
}
.footer_intro_item > a > .sb_oj {
  font-size: 16px;
  color: #999999;
  outline: 1px solid red;
  height: 60px;
}
.time {
  font-size: 14px;
}
